﻿<h1 class="text-center my-4">Наші продукти</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100 shadow-sm">
            <img src="https://nzl.theukrainians.org/wp-content/uploads/2020/08/skala.jpg" class="card-img-top" alt="Продукт 1">
            <div class="card-body text-center">
                <h5 class="card-title">Актор 1</h5>
                <p class="card-text">вроді норм</p>
                <div class="fw-bold text-success mb-2">бесплатно</div>
                <a href="#" class="btn btn-primary">Купити</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100 shadow-sm">
            <img src="https://newformat.info/wp-content/cache/thumb/3e/caffef3ebd2aa3e_800x500.png" class="card-img-top" alt="Продукт 2">
            <div class="card-body text-center">
                <h5 class="card-title">Актор 2</h5>
                <p class="card-text">ну таке</p>
                <div class="fw-bold text-success mb-2">2 грн</div>
                <a href="#" class="btn btn-primary">Купити</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100 shadow-sm">
            <img src="https://volyn.tabloyid.com/upload//1/2025-07/07-Cl4823XM/LEKSFY__686b9b24305f1.jpg" class="card-img-top" alt="Продукт 3">
            <div class="card-body text-center">
                <h5 class="card-title">Актор 3</h5>
                <p class="card-text">норм</p>
                <div class="fw-bold text-success mb-2">320 грн</div>
                <a href="#" class="btn btn-primary">Купити</a>
            </div>
        </div>
    </div>
</div>